<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<% include header.ejs %>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">harshitsinghai77@gmail.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" target = "_blank" href="https://github.com/harshitsinghai77/weather-app-node.js"><i class="large github icon"></i>Github <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target = "_blank" href="https://www.linkedin.com/in/harshitsinghai/"><i class="large linkedin icon"></i>Linkedin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target = "_blank" href="https://shadoweather.azurewebsites.net"><i class="large microsoft icon"></i>Azure</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" target = "_blank" href="https://shadoweather.herokuapp.com"><img src = "https://cdn.iconscout.com/icon/free/png-24/heroku-225989.png">Heroku App</a>
      </li>
    </ul>
  </div>
</nav>


<form action = "/address" method = "POST">
    <div class="ui form main raised stackable very padded text container segment">
        <div class="ui massive  icon input">
            <input type="text" name = "address" placeholder="Address...">
        </div>
    </div>
</form>

<% include footer.ejs %>